:root{
    --backgroundColor: hsl(0, 0%, 100%);
    --backgroundColor2: hsl(215, 100%, 95%);
    --textBackground: white;
    --navBackground: hsl(0, 0%, 100%, 0.8);
    --textColor: black;
    --nightThemeSelector: white;
    --dayThemeSelector: hsl(0, 0%, 80%);

}