:root{
    --backgroundColor: hsl(0, 0%, 100%);
    --textBackground: white;
    --navBackground: hsl(0, 0%, 100%, 0.8);
    --textColor: black;
    --nightThemeSelector: white;
    --dayThemeSelector: hsl(0, 0%, 80%);

}

#languageHun{
    display: none;
}

/* --------------- Color settings--------------*/

body{
    background-color: var(--backgroundColor);
}
a, li, h1, h2, p {
    color: var(--textColor);
}

h1{
    font-size: 3rem;
}


 /* ------------------------------ Navigation------------------------------*/

nav{
    background-color: var(--navBackground);
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    padding: 0.2rem 0;
    top: 0;
}

.leftnav , .brightnessmode,.brightnessmode a, .language , .rightnav, .rightnav ul{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.leftnav img{
    max-height: 2rem;
    background-color: var(--navBackground);
    border-radius: 50%;
    border: 0.2rem solid var(--navBackground);
}


.brightnessmode .dark a{
    margin-left: 1rem;
    border: 0.2rem solid var(--navBackground);
    border-radius: 50%;
}

.brightnessmode .bright a{
    margin-left: 1rem;
    border: 0.2rem solid var(--textColor);
    border-radius: 50%;
}

.language a{
    margin-left: 1rem;
}

.rightnav li{
    margin-right: 1rem;
}

/*--- Hover effects: Brightness---*/

.brightnessmode a:hover{
    border: 0.2rem solid var(--textColor);
    transition: 0.5s;
}

.leftnav img:hover{
    background-color: hsl(0, 0%, 80%);
    border: 0.2rem solid hsl(0, 0%, 80%);;
}

/*--- Hover effects: Language/ Pages---*/
.hover-underline-animation {
    display: inline-block;
    position: relative;
    font-size: 18px;
  }
  
  .hover-underline-animation:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 0.2rem;
    bottom: -0.2rem;
    left: 0;
    background-color: hsl(0, 0%, 0%);
    transform-origin: bottom left;
    transition: transform 0.2s ease-out;
  }
  
  .hover-underline-animation:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }


/* --------------- Wellcome part --------------*/
.wellcome{
    margin-top: 3.2rem;
    background-image: url("../images/shaking-hands-gebd90838e_1920.jpg");
    background-position: center;
    width: 100%;
    height: 20rem;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.wellcome h1{
    background-color: var(--textBackground);
    padding: 1rem;
    border-radius: 0.5rem;
    text-align: center;
}